.seconds-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #2a2f3e;
}

.custom-clock-container {
    width: 4rem;
    background-color: transparent;
    border: none;
}

.custom-clock-icon {
    color: #FFD700;
}

.custom-card {
    width: 4rem;
    background-color: #cba11d;
}

.custom-button {
    color: white;
    margin-right: 10px;
}

.btn-stop {
    background-color: #c42200;
}

.btn-resume {
    background-color: #3c3c3c;
}

.custom-add-button {
    background-color: #007bff;
    color: white;
}
